---
const { title } = Astro.props;
---
<html lang="fr" data-theme="cupcake">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<div class="px-5 pt-4">
		<h1>{title}</h1>
		<article>
		  <slot />
		</article>
	</div>
  </body>
</html>